.styles_herosection {
    position: absolute;
    left: calc(50% - 250px);
    top: 0;
    z-index: -1;
}

.styles_herosection .styles_bg {
    background: linear-gradient(302.61deg, rgba(255, 243, 59, .22) -.71%, #f1e0ff 89.57%);
    filter: blur(70px);
    transform: rotate(105deg);
    height: 500px;
    width: 500px;
    z-index: -2;
    position: absolute;
    top: 10px;
    animation: styles_herosection_animation 25s infinite;
    opacity: .08;
}

[data-theme='dark'] .styles_herosection .styles_bg {
    background: linear-gradient(302.61deg, rgb(255, 239, 0) -.71%, #8d00ff 89.57%);
    filter: blur(70px);
}

@keyframes styles_herosection_animation {
    0% {
        transform: rotate(-210deg)
    }

    to {
        transform: rotate(105deg)
    }
}
