body {
    background: #f8f9fa;
}

main img,
main iframe {
    border: 1px solid var(--ifm-toc-border-color);
    border-radius: 6px;
}

main *::marker {
    color: rgba(0, 0, 0, 0.2);
}

[data-theme='dark'] main *::marker {
    color: rgba(255, 255, 255, 0.2);
}

[data-theme='dark'] body {
    background: transparent;
}

.navbar {
    padding: 10px 15px !important;
    box-shadow: none !important;
    background-color: rgba(248, 249, 250, 0.88);
}

.navbar.navbar--fixed-top {
    /*position: relative !important;*/
}

.navbar::after {
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.navbar::before {
    content: "";
    position: absolute;
    background: #8d00ff;
    filter: blur(50px);
    user-select: none;
    pointer-events: none;
    z-index: -1;
    opacity: .95;
    width: 140px;
    height: 40px;
    top: 0;
    left: -30px;
}

.navbar::after, .navbar-sidebar--show .navbar-sidebar__backdrop {
    backdrop-filter: blur(15px);
    background-image: linear-gradient(rgba(0, 0, 0, .2), transparent);
}

.navbar .navbar__link {
    padding: .7rem auto;
}

.navbar .navbar__link, .navbar .navbar__brand b {
    font-weight: 700;
    font-size: 14px;
    text-shadow: #fff 1px 0 0, #fff 0 1px 0, #fff -1px 0 0, #fff 0 -1px 0 !important;
}

.navbar .navbar__item svg {
    margin: -3px 0 0 5px;
}

[data-theme='dark'] .navbar .navbar__link, [data-theme='dark'] .navbar .navbar__brand b {
    text-shadow: none !important;
}

[data-theme='dark'] .navbar {
    background-color: transparent;
    background-image: linear-gradient(rgba(70, 16, 141, 0.2), transparent);
}

.navbar__inner {
    /*max-width: var(--ifm-container-width);*/
    /*margin: 0 auto;*/
}

.title_f1Hy {
    font-size: 2rem !important;
}
